/* General */
/* 1. Header */
/* 2. Header section */
/* 3. Education */
/* 4. Skills */
/* 5. Portfolio */
/* 6. Hobby */
/* 7. Footer */
/* General */
body {
  font-size: 100%;
  font-weight: normal;
  color: #fff;
  background-image: url("../img/bg-pattern.jpg");
  background-repeat: repeat;
  background-attachment: fixed; }

/* BS components */
.popover-header {
  background-color: #1f252a; }

/* General layout */
.enumeration {
  width: 2rem;
  height: 2rem;
  background: #1b3324;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.4rem;
  font-size: 0.8rem;
  color: #30aa3c;
  font-weight: 700; }

.enumeration.fas {
  font-size: 1rem; }

.profile-general-info,
.education,
.employee-history,
.pro-skills,
.portfolio,
.hobby {
  background: rgba(0, 0, 0, 0.2);
  padding: 1.5rem; }

.section-title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  padding-bottom: 1rem;
  display: block; }

/* 1. Header */
header {
  height: 60px;
  padding: 10px 0; }

.logo {
  color: #15993f;
  font-size: 2rem;
  font-weight: 700; }

/* 2. Header section */
.my-Photo {
  width: 100%;
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center; }
  .my-Photo h2 {
    font-weight: 700;
    padding-top: 2rem; }

.photo-circle {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-style: solid;
  border-width: 9px;
  border-color: #0f1519;
  background-color: #14993f;
  box-shadow: 0 0 0 2px #149940; }

.photo-circle img {
  width: 90%;
  margin-top: 5%;
  border-radius: 50%;
  border-style: solid;
  border-width: 9px;
  border-color: #32aa3a; }

.dev-position {
  color: #149942;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.3rem; }

.social-icos a {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background: #000;
  margin: 0.1rem;
  border-radius: 50%;
  color: #fff;
  text-align: center; }
  .social-icos a:hover {
    background: #149940; }
  .social-icos a .fab {
    padding-top: 0.5rem; }

.profile-general-info {
  width: 100%; }
  .profile-general-info .fas {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 0.5rem; }
  .profile-general-info .btn {
    border-radius: 2rem;
    margin-right: 1rem; }
    .profile-general-info .btn:hover {
      background: #149940; }

.mail-link {
  color: #fff; }

/* 3. Education */
/* 4. Skills */
.employee-history .experience-text {
  width: 80%; }

.employee-history .section-title .fa-window-maximize {
  cursor: pointer; }

.general-experience {
  font-size: 0.8rem; }

.skill-level-name {
  font-size: 0.7rem;
  font-weight: 100; }

/* 5. Portfolio */
.portfolio-item {
  height: 350px;
  border-radius: 3px;
  background-size: cover;
  background-position: 50% 0%;
  transition: background-position .2s linear; }

.portfolio-item:hover {
  background-position: 50% 100%; }

.bg-overlay {
  width: 100%;
  height: 100%;
  background: none;
  transition: background .3s; }

.bg-overlay:hover {
  background: rgba(0, 0, 0, 0.7); }

.middle-button {
  z-index: 999; }

.hobi-ico {
  font-size: 2rem;
  margin-right: 1rem; }

.hobi-ico:hover {
  cursor: pointer;
  color: #ced4da; }

.portfolio-img {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }

.middle-button {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.portfolio-item:hover .portfolio-img {
  opacity: 0.3; }

.portfolio-item:hover .middle-button {
  opacity: 1; }

.portfolio-item-link {
  display: inline-block;
  padding-top: 0.8rem;
  color: #d4cfcf;
  text-decoration: underline; }
  .portfolio-item-link:hover {
    color: #93cc78;
    text-decoration: none; }

/* 6. Hobby */
.hobby p {
  font-size: 0.8rem; }

/* 7. Footer */
.copyright {
  font-size: 0.6rem; }

/* Adaptive */
